<center>
<div class="mainpage">
  <br>
  <h6>Скоро здесь будут новости о футболе среди женских команд</h6>
  <p>А пока пройдите квиз в telegram по истории футбола среди женщин</p><br><br>
  <img src="/css/frame.png" alt="квиз про историю футбола среди женщин" height="350">
</div>
</center>
