<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script defer src="/js/client.js"></script>
   <script src="https://api-maps.yandex.ru/2.1/?apikey=145dc909-82aa-4fa8-bddd-341c77f5e1e6&lang=ru_RU" type="text/javascript">
    </script>
  <title>transfer store</title>
</head>
<body>
  {{> navbar}}
  {{{body}}}
  <footer>
  {{>  footer}}
  </footer>
</body>
</html>
