<center>
  <br><br><br><br><br><br>
  <div>
<a href="https://tele-sport.ru/football/teamrussia/eti-devchonki-ob-yedinili-dazhe-fanatov-spartaka-i-lokomotiva-kak-zhenskaya-sbornaya-rossii-vorvalas-na-yevro-2022">Репортаж матча со сборной Португалии</a>
  </div>
  <br>
  <div>
<a href="https://tele-sport.ru/football/teamrussia/segodnya-u-sbornoi-rossii-po-futbolu-vazhneishii-match-i-eto-ne-shutka">Анонс второго стыкового матча со сборной Португалии </a>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
</center>

