<center>
<div id="footer">
  <p>Подписаться в соцсетях</p>
  <img src="/css/footer/Instagram_logo_2016.svg.png" height="30" class="footerimg">
  <img src="/css/footer/download.png" height="30" class="footerimg">
  <img src="/css/footer/240px-Telegram_logo.svg.png" height="30" class="footerimg">
</div>
</center>
